{{ define "content.tmpl" }}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/date/bootstrap.min.css">
    <title>排盘记录</title>
    <style type="text/css">
        .edit {
            background: url(static/images/pencil.svg) #FFF center center no-repeat;
        }

        .comment {
            background: url(static/images/comment.svg) #FFF center center no-repeat;
        }

        .remove {
            background: url(static/images/x-circle.svg) #FFF center center no-repeat;
        }
    </style>
    <style class="mpa-style-fix ImageGatherer">.FotorFrame {
        position: fixed !important
    }</style>
</head>
<body mpa-version="9.1.8" mpa-extension-id="ibefaeehajgcpooopoegkifhgecigeeg">
<div class="container">
    <form method="get" class="input-group"
          style="padding: 15px 0;position: sticky;top: 0;z-index: 999;background-color: #FFF;">
        <input type="text" class="form-control" id="key" name="name" value="">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="searchBtn">搜索</button>
            <a href="javascript:" class="btn btn-outline-secondary" type="button" data-toggle="modal"
               data-target="#modifyPwdModal">修改密码</a>
            <button class="btn btn-outline-secondary" type="button" id="logout">退出</button>
        </div>
    </form>

    <ul class="list-group">
        {{ range $key,$value := .list }}
        <li data-name={{ $value.name }} class="list-group-item d-flex justify-content-between align-items-center">
            {{ $value.name }} {{ $value.sex }} {{ $value.birthday }}
            <form method="post" action="paiPanDetail" style="display: none;">
                <input type="hidden" name="act" value="ok">
                <input type="hidden" name="name" value="{{ $value.name }}">
                <input type="hidden" name="DateType" value="{{ $value.dateType }}">
                <input type="hidden" name="year" value="{{ $value.year}}">
                <input type="hidden" name="month" value="{{ $value.month }}">
                <input type="hidden" name="date" value="{{ $value.day }}">
                <input type="hidden" name="hour" value="{{ $value.hour }}">
                <input type="hidden" name="minute" value="{{ $value.min }}">
                <input type="hidden" name="nyear" value="{{ $value.year }}">
                <input type="hidden" name="ifrun" value="{{ $value.is_run }}">
                <input type="hidden" name="nmonth" value="{{ $value.month }}">
                <input type="hidden" name="ndate" value="{{ $value.day }}">
                <input type="hidden" name="nhour" value="{{ $value.hour }}">
                <input type="hidden" name="sex" value="{{ $value.sexNum }}">
                <input type="hidden" name="hsp" value="1">
                <input type="hidden" name="cgp" value="1">
                <input type="hidden" name="lnp" value="1">
                <input type="hidden" name="qyp" value="1">
                <input type="hidden" name="ssp" value="1">
                <input type="hidden" name="nyp" value="1">
                <input type="hidden" name="shenshap" value="1">
                <input type="hidden" name="mgp" value="1">
                <input type="hidden" name="csp" value="1">
                <input type="hidden" name="xyp" value="1">
                <input type="hidden" name="PPmode" value="radiobutton">
            </form>
            <div class="d-flex">
                <a href="edit?id={{ $value.id }}" class="edit badge-light badge-pill">&nbsp;</a>
                <a href="remark?id={{ $value.id }}" class="comment badge-light badge-pill">&nbsp;</a>
                <a href="?id={{ $value.id }}" onclick="return confirm('确定删除吗');" class="remove badge-light badge-pill">&nbsp;</a>
            </div>
        </li>
        {{ end }}
    </ul>


    <div class="btn-group d-flex" style="position: sticky;bottom: 0;padding: 15px 0;background-color: #FFF;">
        <a href="?page=0&amp;keyword=" class="btn btn-secondary">上一页</a>
        <a href="" class="btn btn-secondary disabled">1 / 1</a>
        <a href="?page=0&amp;keyword=" class="btn btn-secondary">下一页</a>
    </div>
</div>

<div class="modal fade" id="modifyPwdModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">修改密码</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">新密码:</label>
                        <input type="text" class="form-control" id="pwd" name="pwd">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="savePwd">保存</button>
            </div>
        </div>
    </div>
</div>
<div id="bar">
    <a href="/index">
        <img src="static/images/home.svg">
        <span>排盘</span>
    </a>
    <a href="/record" class="left-border">
        <img src="static/images/menu.svg">
        <span>记录</span>
    </a>
</div>
<style>
    #bar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-width: 1px 0 0 0;
        border-style: solid;
        border-color: #CCC;
        background-color: #EEE;
        position: fixed;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 100%;
        max-width: 1200px; /* 适当的最大宽度 */
        text-align: center; /* 文本居中 */
    }

    #bar a {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        text-decoration: none;
        font-size: 12px;
        color: #666;
        padding: 3px 0;
    }
</style>
<script src="static/date/jquery.min.js"></script>
<script src="static/date/popper.min.js"></script>
<script src="static/date/bootstrap.min.js"></script>
<script type="text/javascript">
    $(".list-group-item").click(function (e) {
        $(e.target).find('form').submit();
    })

    $("#savePwd").click(function () {
        if ($("[name=pwd]").val() == "") {
            alert("密码不能为空");
            return;
        }
        $.post("modifyPwd", {pwd: $("[name=pwd]").val()}, function (data) {
            $("#modifyPwdModal").modal("hide");
            $("[name=pwd]").val("");
            if (data.msg == 'success') {
                $.post("logout", {}, function (data) {
                    if (data.msg == 'success') {
                        window.location.href = 'loginIndex';
                    } else {
                        alert("服务异常，请稍后再试！")
                    }
                })
            } else {
                alert("服务异常，请稍后再试！")
            }
        })
    })

    // 清空accessToken 并跳转到首页
    $("#logout").click(function () {
        $.post("logout", {}, function (data) {
            if (data.msg == 'success') {
                window.location.href = 'index';
            } else {
                alert("服务异常，请稍后再试！")
            }
        })
    })

</script>
<div class="mpa-sc mpa-plugin-image-gatherer mpa-new mpa-rootsc" data-z="100" style="display: block;"
     id="mpa-rootsc-image-gatherer"></div>
<div class="mpa-sc mpa-plugin-text-gatherer mpa-new mpa-rootsc" data-z="100" style="display: block;"
     id="mpa-rootsc-text-gatherer"></div>
<div class="mpa-sc mpa-plugin-video-gatherer mpa-new mpa-rootsc" data-z="100" style="display: block;"
     id="mpa-rootsc-video-gatherer"></div>
</body>
</html>
{{ end }}