{{ define "remark.tmpl" }}
<html>
{{ template "header" . }}
<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/date/bootstrap.min.css">
    <title>备注记录</title>
    <style class="mpa-style-fix ImageGatherer">.FotorFrame {
        position: fixed !important
    }</style>
</head>
<body style="padding: 15px;" mpa-version="9.1.9" mpa-extension-id="ibefaeehajgcpooopoegkifhgecigeeg">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">备注记录</h5>
    </div>
    <div class="modal-body">
        <form method="post">
            <div class="form-group">
                <textarea class="form-control" name="comment" id="comment">{{ .Remark }}</textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="history.back();">返回</button>
        <button type="button" class="btn btn-primary" id="saveRemark">保存</button>
    </div>
</div>

<div class="mpa-sc mpa-plugin-image-gatherer mpa-new mpa-rootsc" data-z="100" style="display: block;"
     id="mpa-rootsc-image-gatherer"></div>
<div class="mpa-sc mpa-plugin-text-gatherer mpa-new mpa-rootsc" data-z="100" style="display: block;"
     id="mpa-rootsc-text-gatherer"></div>
<div class="mpa-sc mpa-plugin-video-gatherer mpa-new mpa-rootsc" data-z="100" style="display: block;"
     id="mpa-rootsc-video-gatherer"></div>
{{ template "copyright" . }}
{{ template "menu" . }}

<script src="static/date/jquery.min.js"></script>
<script type="text/javascript">
    $("#saveRemark").click(function () {
        var comment = $("#comment").val();
        console.log(comment)
        $.post("saveRemark", {
            id : "{{ .Id }}",
            remark: comment,
        }, function (data) {
            console.log(data)
        })
    })
</script>
{{ end }}